@using MedixCare.Models
@model Department
@{
    ViewData["Title"] = "Delete Department";
}
<section class="container">
    <h1>
        @ViewData["Title"]
    </h1>
    <div class="alert alert-danger">
        <p>Are you sure you want to delete the department <strong>@Model.Name</strong>?</p>
    </div>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</section>
